body{
    background-color: #aaaaaa;
}

.smartflow-view{
    display: none;
}

.selected{
    background-color: rgba(0,0,0, 0.05);
}


.tutorial{
    width: 300px;
    display: none;
}
.tutorial-step{
    display: none;
}

[data-tutorial-focus="yes"]{
    border: 1px solid rgba(255,0,0);
}

.smartflow-documentation{
    border: 1px solid blue;
    background-color: #ffffff;
    padding: 1em;
}

.smartflow-documentation TABLE {
    width: 100%;
}

.smartflow-documentation TBODY TR:nth-child(odd) {
    background-color: #eeeeee;
}

.smartflow-documentation TBODY TR{
    border-top: 1px solid black;
}

.smartflow-documentation TD, TH{
    padding: 0.5em;
}